---
const {
  title = 'Astro Colors',
  description = 'Color names app build with Astro.',
  url = 'https://astro-colors.netlify.app/',
  image = 'https://raw.githubusercontent.com/rayc2045/html-reserved-colors/main/src/assets/images/cover.png'
} = Astro.props;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>
<link rel="icon" href="https://avatars.githubusercontent.com/u/39514595?s=32">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content={url}>
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={image}>
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content={url}>
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="twitter:image" content={image}>
<!-- Font Rubik -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap" rel="stylesheet">